---
layout: layouts/base.njk
title: Categorie
---
<div class="categories">
  {%- for name, posts in collections.categories -%}
  <section class="category-group" id="{{ name | lower }}">
    <h2>{{ name }}</h2>
    <ul>
      {%- for post in posts -%}
      <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        <time datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
      </li>
      {%- endfor -%}
    </ul>
  </section>
  {%- endfor -%}
</div>
